.root, .border-pane, .split-pane {
	-fx-background-color: papayawhip;
}

.table-row-cell:selected .table-column {
	-fx-text-fill: black;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
	-fx-background-color: coral;
}

.show-hide-columns-button {
	-fx-background-color: transparent;
}

.show-hide-column-image {
	-fx-background-color: Coral;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
	-fx-background-color: coral;
}

.drag-over {
	-fx-border-width: 3px;
	-fx-border-radius: 15px;
	-fx-border-color: darkgrey;
	-fx-border-style: dashed;
}

.table-view, .column-header-background, .filler {
	-fx-background-color: transparent;
}

.table-view .column-header-background {
	-fx-border-width: 0 0 2 0;
	-fx-border-color: darkgrey;
	-fx-font-weight: bold;
	/*-fx-padding: 5;*/
}

.table-view .table-row-cell {
	-fx-border-width: 0 0 2 0;
	-fx-border-color: lightgrey;
	-fx-background-color: transparent;
}

.table-view .table-row-cell:empty {
	-fx-border-width: 0;
}

.table-view .table-row-cell:selected {
	-fx-background-color: PeachPuff;
}


.table-view .table-column {
	-fx-alignment: center;
	/*-fx-padding: 5px;*/
	-fx-pref-height: 32px;
	-fx-border-width: 0;
	-fx-background-color: transparent;
}

.split-pane-divider {
	-fx-pref-width: 2;
}

.hyperlink {
	-fx-text-fill: coral;
}

.chip {
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
	-fx-padding: 2px 5px 2px 5px;
	-fx-background-color: transparent;
	-fx-graphic-text-gap: 5px;
}

.chip:hover {
	-fx-opacity: 75%;
}

.chip:selected {
	-fx-background-color: PeachPuff;
	-fx-content-display: left;
	-fx-border-color: coral;
	-fx-text-fill: coral;
	-fx-font-weight: bold;
}

.section-title {
	-fx-font-size: 0.9em;
	-fx-background-color: coral;
	-fx-alignment: center;
	-fx-padding: 5px;
}

.section-title .label {
	-fx-text-fill: papayawhip;
	-fx-font-weight: bold;
}

.error {
	-fx-border-color: tomato;
}


.list-cell:empty {
	-fx-background-color: transparent;
}
